.rechercher{
  width: 40%;
  align-items: center;
  margin: auto;
}


form{
  display: flex;
  width: auto;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
}

form>button, form>input{
  box-shadow: 1px 1px 10px #465;
  margin: 5px;
}

button{
	padding:4px 5px 4px 5px;
	font:bold 11px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:auto;
  margin: 5px;
	border:1px solid #ccc;
}

button:hover {
  cursor: pointer;
}

html, body {
  margin:0;
  padding:0;
  background-color: #dad8d4;
  align-items: center;
  justify-content: center;
}

header{
  background-color: #75d0f1;
  margin: 0;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px #465;
}

h2{
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  font-size: 24px;
  color: #112;
}

h3{
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.stats{
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px
}

.map{
  box-shadow: 1px 1px 10px #465;
  align-items: center;
  justify-content: center;
  flex-flow: row, wrap;
  width: 98%;
  height: 75%;
  margin-left: 5px;
  margin-right: 5px;

}
.maps{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}



@media (min-width: 1000px) {
  .half {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 48%;
    height: 600px;
    float:left;
  }
}
@media (max-width: 1000px) {
  .half {
    justify-content: center;
    padding: 0 5px;
    width: 95%;
    float: left;
  }
}
